.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 100px;
}

.spanIcon {
  margin-top: 40px;
}
