// .filterContainer {
//   display: flex;
//   align-items: center;
//   justify-content: start;

//   text-align: center;

//   margin-top: 30px;
// }

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // margin-top: 20px;
}

.filterInput {
  width: 197px;
}
