.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 800px;

  margin-right: auto;
  margin-left: auto;
}

.filterInput {
  width: 197px;
}
