.nav {
  display: flex;
  align-items: center;
}

.home {
  display: inline-flex;
  align-items: stretch;

  margin-left: 20px;
  padding: 0;

  text-decoration: none;
}

.contacts {
  margin-left: 20px;
  padding: 0;

  text-decoration: none;
}

.contactsTitle {
  margin: 0;
}

.homeTitle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contactsTitle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.homeTitle:hover,
.homeTitle:focus {
  color: white;
  font-weight: bolder;
}

.contactsTitle:hover,
.contactsTitle:focus {
  color: white;
  font-weight: bolder;
}
