.authNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.register {
  margin-right: 20px;

  text-decoration: none;
}

.login {
  margin-right: 20px;

  text-decoration: none;
}

.registerTitle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logInTitle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.registerTitle:hover,
.registerTitle:focus {
  color: white;
  font-weight: bolder;
}

.logInTitle:hover,
.logInTitle:focus {
  color: white;
  font-weight: bolder;
}
