.contactsContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  max-width: 800px;

  border-radius: 0px 0px 5px 5px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: normal;

  max-width: 400px;

  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 30px;
}

.item:first-child {
  margin-top: 40px;
}

.cell {
  width: 266px;
}
