.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-right: 20px;
  padding: 10px;
}

.userEmail {
  margin-right: 20px;
}

.btnLogOut {
  display: flex;
  align-items: center;
}
